<html>
  <head>
<style>
div.container {
    width: 100%;
    border: 1px solid red;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid red;
    padding: 1em;
    overflow: hidden;
}
</style>

 </head>
  <body>
<div class="container">

<header>
   <img></img>
   <h1>MailMerge Template Tool</h1>
</header>
  
<nav>
  <ul>
    <li><a href="http://127.0.0.1:5000">HOME</a></li>
    <li><a href="https://mw11cn01.squaretwofinancial.com/python/nest.py">NEST</a></li>
  </ul>
</nav>

<article>
  <h1>Add additional user provided info</h1>
    {% from "_formhelper.html" import render_field %}
<form method="post">

<dl>
        {{ form.hidden_tag() }}
{% for name in form.addresses %}
    {{ render_field(name) }}
{% endfor %}
</dl>


    <input type="submit">
</form>
</article>

<footer>Production Services</footer>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
        {{ message }}
        </div>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
</div>
  </body>
</html>